@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color: rgb(21, 44, 106);
  font-weight: normal;
}

h1{
  font-size: 2rem;
  position: relative;
  font-weight: bold;
  text-align: center;

}

h3 {
  font-size: 1.2rem;
  text-align: center;
}

.blue {
  text-decoration: none;
  transition: 0.4s;
  font-size: 2rem;
}

.generic-component{
  /* border: 1px solid #ccc;  */
  padding: 10px;
  margin: 10px;
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(89, 92, 103, 0.324)
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
